In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

<br>

# Processing the Daily Dataset
### Filtering the columns in daily data

In [28]:
# Cleaning out the not needed columns
for i in range(0,112):
    df = pd.read_csv(f'data/daily_dataset/daily_dataset/block_{i}.csv')
    df = df[['day', 'LCLid', 'energy_sum']]
    df.reset_index()
    df.to_csv(f"data/outputfiles2/filtered_block_{i}.csv", index=False)

### Combining daily data into single file

In [4]:
energy = open("data/outputfiles2/energy.csv","a")

# first file:
for line in open("data/outputfiles2/filtered_block_0.csv"):
    energy.write(line)
# now the rest:    
for i in range(1,112):
    f = open(f"data/outputfiles2/filtered_block_{i}.csv")
    f.readline() # skip the header
    for line in f:
         energy.write(line)
    f.close()
energy.close()

### Day-wise energy Data

In [5]:
energy = pd.read_csv('data/outputfiles2/energy.csv')

#Changing day from string to date
energy.day = pd.to_datetime(energy.day, format='%Y-%m-%d').dt.date

energy.head()

          day      LCLid  energy_sum
0  2012-10-12  MAC000002       7.098
1  2012-10-13  MAC000002      11.087
2  2012-10-14  MAC000002      13.223
3  2012-10-15  MAC000002      10.257
4  2012-10-16  MAC000002       9.769

<br>

# Processing the Weather Data
### Converting Timestamps to dates

In [7]:
weather = pd.read_csv('data/weather_daily_darksky.csv')
weather['day']=  pd.to_datetime(weather['time'])
weather['day']=  pd.to_datetime(weather['day'], format='%Y%m%d').dt.date
weather.head()

,temperatureMax,temperatureMaxTime,windBearing,icon,dewPoint,temperatureMinTime,cloudCover,windSpeed,pressure,apparentTemperatureMinTime,...,sunriseTime,temperatureHighTime,uvIndexTime,summary,temperatureLowTime,apparentTemperatureMin,apparentTemperatureMaxTime,apparentTemperatureLowTime,moonPhase,day
0,11.96,2011-11-11 23:00:00,123,fog,9.40,2011-11-11 07:00:00,0.79,3.88,1016.08,2011-11-11 07:00:00,...,2011-11-11 07:12:14,2011-11-11 19:00:00,2011-11-11 11:00:00,Foggy until afternoon.,2011-11-11 19:00:00,6.48,2011-11-11 23:00:00,2011-11-11 19:00:00,0.52,2011-11-11
1,8.59,2011-12-11 14:00:00,198,partly-cloudy-day,4.49,2011-12-11 01:00:00,0.56,3.94,1007.71,2011-12-11 02:00:00,...,2011-12-11 07:57:02,2011-12-11 14:00:00,2011-12-11 12:00:00,Partly cloudy throughout the day.,2011-12-12 07:00:00,0.11,2011-12-11 20:00:00,2011-12-12 08:00:00,0.53,2011-12-11
2,10.33,2011-12-27 02:00:00,225,partly-cloudy-day,5.47,2011-12-27 23:00:00,0.85,3.54,1032.76,2011-12-27 22:00:00,...,2011-12-27 08:07:06,2011-12-27 14:00:00,2011-12-27 00:00:00,Mostly cloudy throughout the day.,2011-12-27 23:00:00,5.59,2011-12-27 02:00:00,2011-12-28 00:00:00,0.10,2011-12-27
3,8.07,2011-12-02 23:00:00,232,wind,3.69,2011-12-02 07:00:00,0.32,3.00,1012.12,2011-12-02 07:00:00,...,2011-12-02 07:46:09,2011-12-02 12:00:00,2011-12-02 10:00:00,Partly cloudy throughout the day and breezy ov...,2011-12-02 19:00:00,0.46,2011-12-02 12:00:00,2011-12-02 19:00:00,0.25,2011-12-02
4,8.22,2011-12-24 23:00:00,252,partly-cloudy-night,2.79,2011-12-24 07:00:00,0.37,4.46,1028.17,2011-12-24 07:00:00,...,2011-12-24 08:06:15,2011-12-24 15:00:00,2011-12-24 13:00:00,Mostly cloudy throughout the day.,2011-12-24 19:00:00,-0.51,2011-12-24 23:00:00,2011-12-24 20:00:00,0.99,2011-12-24

### Filtering out Columns and Dropping NULLS

In [9]:
weather = weather[['temperatureMax', 'windBearing', 'dewPoint', 'cloudCover', 'windSpeed',
       'pressure', 'apparentTemperatureHigh', 'visibility', 'humidity',
       'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex',
       'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'apparentTemperatureMin', 'moonPhase','day']]
weather = weather.dropna()
weather.head()

,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,day
0,11.96,123,9.40,0.79,3.88,1016.08,10.87,3.30,0.95,10.87,11.96,1.0,10.87,8.85,10.87,6.48,0.52,2011-11-11
1,8.59,198,4.49,0.56,3.94,1007.71,5.62,12.09,0.88,-0.64,5.72,1.0,3.09,2.48,8.59,0.11,0.53,2011-12-11
2,10.33,225,5.47,0.85,3.54,1032.76,10.33,13.39,0.74,5.52,10.33,0.0,8.03,8.03,10.33,5.59,0.10,2011-12-27
3,8.07,232,3.69,0.32,3.00,1012.12,5.33,11.89,0.87,3.26,5.33,1.0,6.33,2.56,7.36,0.46,0.25,2011-12-02
4,8.22,252,2.79,0.37,4.46,1028.17,5.02,13.16,0.80,4.37,5.32,1.0,7.45,3.17,7.93,-0.51,0.99,2011-12-24

<br>

# Processing the Holidays Data
### Renaming and Reformatting Holidays

In [12]:
holiday = pd.read_csv('data/uk_bank_holidays.csv')
holiday.rename(columns={"Bank holidays":"day"}, inplace = True)

holiday['day'] = pd.to_datetime(holiday['day'],format='%Y-%m-%d').dt.date
holiday.head()

          day                                          Type
0  2012-12-26                                    Boxing Day
1  2012-12-25                                 Christmas Day
2  2012-08-27                           Summer bank holiday
3  2012-05-06  Queen?s Diamond Jubilee (extra bank holiday)
4  2012-04-06          Spring bank holiday (substitute day)

<br>

# Processing the Per Household Data
### Reading the data

In [13]:
household_info = pd.read_csv("data/informations_households.csv")
household_info.head()

       LCLid stdorToU    Acorn Acorn_grouped     file
0  MAC005492      ToU   ACORN-        ACORN-  block_0
1  MAC001074      ToU   ACORN-        ACORN-  block_0
2  MAC000002      Std  ACORN-A      Affluent  block_0
3  MAC003613      Std  ACORN-A      Affluent  block_0
4  MAC003597      Std  ACORN-A      Affluent  block_0

In [14]:
household_info['Acorn'].unique()

array(['ACORN-', 'ACORN-A', 'ACORN-B', 'ACORN-C', 'ACORN-D', 'ACORN-E',
       'ACORN-F', 'ACORN-G', 'ACORN-H', 'ACORN-I', 'ACORN-J', 'ACORN-K',
       'ACORN-L', 'ACORN-M', 'ACORN-N', 'ACORN-O', 'ACORN-P', 'ACORN-Q',
       'ACORN-U'], dtype=object)

<br>

# Combining Various dataframes into one
### Combining Daily Energy with Weather Data

In [19]:
weather_energy =  energy.merge(weather, on='day')
weather_energy.to_csv("data/outputfiles2/weather_energy.csv", index=False)
weather_energy.head()

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase
0,2012-10-12,MAC000002,7.098,11.53,252,6.15,0.29,2.18,1004.92,11.53,12.94,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92
1,2012-10-12,MAC000246,17.245,11.53,252,6.15,0.29,2.18,1004.92,11.53,12.94,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92
2,2012-10-12,MAC000450,91.267,11.53,252,6.15,0.29,2.18,1004.92,11.53,12.94,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92
3,2012-10-12,MAC001074,23.145,11.53,252,6.15,0.29,2.18,1004.92,11.53,12.94,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92
4,2012-10-12,MAC003223,15.783,11.53,252,6.15,0.29,2.18,1004.92,11.53,12.94,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92

### Combining Daily Energy and Weather Data with Holidays

In [21]:
weather_energy_holiday = weather_energy.merge(holiday, left_on = 'day',right_on = 'day',how = 'left')
weather_energy_holiday.head()

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,Type
0,2012-10-12,MAC000002,7.098,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92,NaN
1,2012-10-12,MAC000246,17.245,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92,NaN
2,2012-10-12,MAC000450,91.267,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92,NaN
3,2012-10-12,MAC001074,23.145,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92,NaN
4,2012-10-12,MAC003223,15.783,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92,NaN

### Converting Holidays into Binary Column (1 if holiday, else 0)

In [23]:
weather_energy_holiday["Type"].unique()

array([nan, 'Christmas Day', 'Boxing Day', 'New Year?s Day',
       'Easter Monday', 'Good Friday', 'Spring bank holiday',
       'Early May bank holiday', 'Summer bank holiday',
       'New Year?s Day (substitute day)',
       'Spring bank holiday (substitute day)',
       'Queen?s Diamond Jubilee (extra bank holiday)'], dtype=object)

In [24]:
weather_energy_holiday['Isholiday'] = np.where(weather_energy_holiday['Type'].isna(),0,1)

### Identifying and Including Weekends into Holidays

In [25]:
#creating a binary-valued column to identify holidays
weather_energy_holiday['WeekdayIndex'] = pd.to_datetime(weather_energy_holiday['day']).dt.dayofweek 
weather_energy_holiday['IsWeekend'] = 0         
weather_energy_holiday.loc[weather_energy_holiday['WeekdayIndex'].isin([5, 6]), 'IsWeekend'] = 1

In [26]:
weather_energy_holiday.drop(['Type','WeekdayIndex'], axis=1, inplace=True)

# Including weekends in holidays 
weather_energy_holiday["holiday"] = weather_energy_holiday["Isholiday"] + weather_energy_holiday["IsWeekend"]
weather_energy_holiday.loc[weather_energy_holiday["holiday"]==2, ["holiday"]] = 1
weather_energy_holiday.drop(['Isholiday','IsWeekend'], axis=1, inplace=True)
weather_energy_holiday.head()

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday
0,2012-10-12,MAC000002,7.098,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92,0
1,2012-10-12,MAC000246,17.245,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92,0
2,2012-10-12,MAC000450,91.267,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92,0
3,2012-10-12,MAC001074,23.145,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92,0
4,2012-10-12,MAC003223,15.783,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92,0

In [27]:
weather_energy_holiday.to_csv("data/outputfiles2/weather_energy_holiday.csv", index = False)

### Combining Household data with the above data

In [29]:
finaldf = weather_energy_holiday.merge(household_info, on="LCLid", how="left")
finaldf.head()

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,stdorToU,Acorn,Acorn_grouped,file
0,2012-10-12,MAC000002,7.098,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,Std,ACORN-A,Affluent,block_0
1,2012-10-12,MAC000246,17.245,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,Std,ACORN-A,Affluent,block_0
2,2012-10-12,MAC000450,91.267,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,Std,ACORN-A,Affluent,block_0
3,2012-10-12,MAC001074,23.145,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,ToU,ACORN-,ACORN-,block_0
4,2012-10-12,MAC003223,15.783,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,Std,ACORN-A,Affluent,block_0

### Data Cleaning

In [30]:
finaldf.drop(['Acorn_grouped'], axis=1, inplace=True)
finaldf.rename(columns={"Acorn":"AcornGroup", "stdorToU":"ConnectionType"}, inplace=True)
finaldf['AcornGroup'] = finaldf['AcornGroup'].map({'ACORN-A':' LavishLifestyles', 'ACORN-':'NotPrivateHouseholds', 'ACORN-B':'ExecutiveWealth', 'ACORN-C':'MatureMoney', 'ACORN-D':'CitySophisticates', 'ACORN-E':'CareerClimbers',
       'ACORN-F':'CountrysideCommunities', 'ACORN-G':'SuccessfulSuburbs', 'ACORN-H':'SteadyNeighbourhoods', 'ACORN-I':'ComfortableSeniors', 'ACORN-J':'StartingOut', 'ACORN-K':'StudentLife',
       'ACORN-L':'ModestMeans', 'ACORN-M':'StrivingFamilies', 'ACORN-N':'PoorerPensioners', 'ACORN-O':'YoungHardship', 'ACORN-P':'StrugglingEstates', 'ACORN-Q':'DifficultCircumstances',
       'ACORN-U':'NotPrivateHouseholds'})
len(finaldf)

3501219

In [32]:
#dropping duplicates if any
finaldf.drop_duplicates(keep='first', inplace = True)
len(finaldf)

3501219

In [33]:
finaldf.rename(columns={'energy_sum':'PerDayConsumption'},inplace = True)
finaldf.to_csv("data/outputfiles2/finaldf.csv", index=False)
finaldf.head()

,day,LCLid,PerDayConsumption,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,ConnectionType,AcornGroup,file
0,2012-10-12,MAC000002,7.098,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.0,2.81,6.41,11.53,4.01,0.92,0,Std,LavishLifestyles,block_0
1,2012-10-12,MAC000246,17.245,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.0,2.81,6.41,11.53,4.01,0.92,0,Std,LavishLifestyles,block_0
2,2012-10-12,MAC000450,91.267,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.0,2.81,6.41,11.53,4.01,0.92,0,Std,LavishLifestyles,block_0
3,2012-10-12,MAC001074,23.145,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.0,2.81,6.41,11.53,4.01,0.92,0,ToU,NotPrivateHouseholds,block_0
4,2012-10-12,MAC003223,15.783,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.0,2.81,6.41,11.53,4.01,0.92,0,Std,LavishLifestyles,block_0

### Adding No. of Houses

In [35]:
house_count = finaldf.groupby("day")[["LCLid"]].count()
house_count.rename(columns={"LCLid":"HousesN"}, inplace=True)
house_count.head()

            HousesN
day
2011-11-23       13
2011-11-24       25
2011-11-25       32
2011-11-26       41
2011-11-27       41

<br>

# Adding Measures of Central Tendencies

In [36]:
# Total Energy Sum
energySum = finaldf.groupby(["day"])[['PerDayConsumption']].sum()
energySum.head()

            PerDayConsumption
day
2011-11-23          90.385000
2011-11-24         213.412000
2011-11-25         303.993000
2011-11-26         420.976000
2011-11-27         444.883001

In [37]:
# Mean of Per Day COnsumption
average = finaldf.groupby("day").mean()
average.drop(["PerDayConsumption"], axis=1, inplace=True)
average.holiday = average.holiday.astype(int)
average.head()

C:\Users\alish\AppData\Local\Temp\ipykernel_7036\1791296427.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average = finaldf.groupby("day").mean()

,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday
day,,,,,,,,,,,,,,,,,,
2011-11-23,10.36,229.0,6.29,0.36,2.04,1027.12,10.36,8.06,0.93,6.56,10.36,1.0,8.24,3.81,10.36,2.18,0.94,0
2011-11-24,12.93,204.0,8.56,0.41,4.04,1027.22,12.93,10.64,0.89,7.30,12.93,1.0,9.71,8.56,12.93,7.01,0.97,0
2011-11-25,13.03,243.0,7.24,0.48,5.02,1024.47,12.27,12.38,0.79,4.69,13.03,1.0,7.01,7.46,12.27,4.84,0.01,0
2011-11-26,12.96,237.0,6.96,0.44,5.75,1025.80,12.96,13.07,0.81,11.59,12.96,1.0,11.59,7.01,12.96,4.69,0.05,1
2011-11-27,13.54,256.0,5.76,0.42,5.48,1021.11,13.54,13.08,0.72,1.31,13.54,1.0,1.31,4.47,13.54,2.94,0.08,1

### Adding measures to House Groups

In [38]:
measures = average.merge(housecount, on="day")
measures = measures.merge(energySum, on="day")
measures.head()

,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,HousesN,PerDayConsumption
day,,,,,,,,,,,,,,,,,,,,
2011-11-23,10.36,229.0,6.29,0.36,2.04,1027.12,10.36,8.06,0.93,6.56,10.36,1.0,8.24,3.81,10.36,2.18,0.94,0,13,90.385000
2011-11-24,12.93,204.0,8.56,0.41,4.04,1027.22,12.93,10.64,0.89,7.30,12.93,1.0,9.71,8.56,12.93,7.01,0.97,0,25,213.412000
2011-11-25,13.03,243.0,7.24,0.48,5.02,1024.47,12.27,12.38,0.79,4.69,13.03,1.0,7.01,7.46,12.27,4.84,0.01,0,32,303.993000
2011-11-26,12.96,237.0,6.96,0.44,5.75,1025.80,12.96,13.07,0.81,11.59,12.96,1.0,11.59,7.01,12.96,4.69,0.05,1,41,420.976000
2011-11-27,13.54,256.0,5.76,0.42,5.48,1021.11,13.54,13.08,0.72,1.31,13.54,1.0,1.31,4.47,13.54,2.94,0.08,1,41,444.883001

In [41]:
measures["AvgPerDayConsumption"] = [i / j for i, j in zip(measures["PerDayConsumption"], measures["HousesN"])]
measures.reset_index(inplace = True)
measures['day'] = pd.to_datetime(measures["day"])
measures["month"] = measures["day"].dt.month
measures["date"] = measures["day"].dt.day
measures.head()

,day,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,humidity,...,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,HousesN,PerDayConsumption,AvgPerDayConsumption,month,date
0,2011-11-23,10.36,229.0,6.29,0.36,2.04,1027.12,10.36,8.06,0.93,...,3.81,10.36,2.18,0.94,0,13,90.385000,6.952692,11,23
1,2011-11-24,12.93,204.0,8.56,0.41,4.04,1027.22,12.93,10.64,0.89,...,8.56,12.93,7.01,0.97,0,25,213.412000,8.536480,11,24
2,2011-11-25,13.03,243.0,7.24,0.48,5.02,1024.47,12.27,12.38,0.79,...,7.46,12.27,4.84,0.01,0,32,303.993000,9.499781,11,25
3,2011-11-26,12.96,237.0,6.96,0.44,5.75,1025.80,12.96,13.07,0.81,...,7.01,12.96,4.69,0.05,1,41,420.976000,10.267707,11,26
4,2011-11-27,13.54,256.0,5.76,0.42,5.48,1021.11,13.54,13.08,0.72,...,4.47,13.54,2.94,0.08,1,41,444.883001,10.850805,11,27

In [42]:
measures.to_csv("data/outputfiles2/measures.csv", index=False)